<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apa itu Office 365?</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/ajax/jquery.min.js"></script>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!-- Sebelum memulai assessment silahkan masukkan nama dan nomor PC yang anda gunakan -->
                    <div class="wrapper">
                        <div class="wrapper2">
                            <form action="/assessment" method="POST">
                                <div class="col-md-12" style="text-align: center;">
                                    <label for="title"><h1>Apa itu Office 365?</h1></label>
                                </div>
                                <div class="col-md-12" style="margin: 0 auto">
                                    <img src="static/Logo_Microsoft_Office_365.png" alt="Logo_Microsoft_Office_365" class="rounded mx-auto d-block" style="width: 50%;">
                                </div>
                                <div class="col-md-12" >
                                    <p>Microsoft 365 adalah produk layanan berlangganan yang ditawarkan oleh Microsoft sebagai bagian dari lini produk Microsoft Office. Secara umum, fasilitas Microsoft 365 terdiri dari perangkat lunak Microsoft Office serta perangkat lunak berbasis komputasi awan sebagai produk layanan untuk lingkungan bisnis, seperti Hosting Exchange Server, Skype for Business Server, dan SharePoint ditambah opsi tambahan layanan Windows 10 Enterprise. Semua paket Microsoft 365 diperbarui otomatis tanpa biaya tambahan.</p>
                                </div>
                                <div class="col-md-12"><h2>Paket langganan</h2></div>
                                <div class="col-md-12">
                                    <p>Office 365 tersedia di sejumlah paket berlangganan berbeda yang ditujukan untuk kebutuhan dan segmen pasar yang berbeda, menyediakan serangkaian fitur berbeda pada titik harga yang berbeda.</p>
                                    <p>
                                        <ul>
                                            <li>Personal: Termasuk akses ke Microsoft Word, Microsoft Excel, Microsoft PowerPoint, Microsoft OneNote, Microsoft Outlook, Microsoft Publisher & Microsoft Access untuk penggunaan di rumah / nonkomersial di satu komputer (PC atau Mac) plus akses ke fitur premium di satu tablet (Android , iOS atau Windows RT, karena Windows penuh dianggap sebagai komputer) atau telepon. Manfaat tambahan termasuk 1 TB penyimpanan OneDrive tambahan dan 60 menit panggilan internasional Skype per bulan (tergantung wilayah). Versi Pribadi yang dibeli dengan paket empat tahun yang didiskon, yang dikenal sebagai Office 365 University, memungkinkan penggunaan pada dua perangkat oleh satu pengguna, tersedia bagi mereka yang ada di institusi pasca sekolah menengah. Microsoft juga menawarkan langganan Office 365 kepada siswa lembaga yang memiliki lisensi perangkat lunak Office untuk fakultas mereka.</li>
                                            <li>Home: Ditujukan untuk konsumen dan keluarga; sama seperti Pribadi, tetapi untuk digunakan pada hingga lima pengguna.</li>
                                            <li>Business: Menawarkan aplikasi desktop untuk Mac dan PC hingga lima komputer per pengguna, tanpa layanan online Exchange, SharePoint, dan Skype for Business.</li>
                                            <li>Business Premium: Kombinasi rencana Bisnis dan Bisnis.</li>
                                            <li>ProPlus: Menawarkan akses ke aplikasi Office 2019 Professional Plus pada hingga lima perangkat per pengguna.</li>
                                            <li>Enterprise: Digunakan di lingkungan perusahaan. Menawarkan akses ke semua aplikasi Office, Exchange yang dihosting, SharePoint, dan layanan Skype for Business, ditambah fitur dan dukungan kepatuhan hukum khusus perusahaan.
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>