<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apa itu Office 365?</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/popper.min.js"></script>
    <script src="/static/ajax/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="wrapper">
                        <div class="wrapper2">
                            <form action="/assessment" method="POST">
                                <div class="col-md-12" style="text-align: center;">
                                    <label for="title"><h1>Apa itu Office 365 dan Google Workspace?</h1></label>
                                </div>
                                <div class="col-md-12" style="margin: 0 auto">
                                    <img src="static/Logo_Microsoft_Office_365.png" alt="Logo_Microsoft_Office_365" class="rounded mx-auto d-block" style="width: 50%;">
                                </div>
                                <div class="col-md-12" >
                                    <p class="p-about">Microsoft 365 adalah produk layanan berlangganan yang ditawarkan oleh Microsoft sebagai bagian dari lini produk Microsoft Office. Secara umum, fasilitas Microsoft 365 terdiri dari perangkat lunak Microsoft Office serta perangkat lunak berbasis komputasi awan sebagai produk layanan untuk lingkungan bisnis, seperti PowerBI, MS Teams, SharePoint, MS Forms dll.
                                        Microsoft 365 memungkinkan produktivitas sesuai permintaan melalui perangkat bergerak, kolaboratif, dan pengalaman kerja yang efisien.</p>
                                </div>
                                <hr>
                                <div class="col-md-12" style="margin: 0 auto">
                                    <img src="static/google-workspace-logo.svg" alt="Logo_Microsoft_Office_365" class="rounded mx-auto d-block" style="width: 50%;">
                                </div>
                                <div class="col-md-12">
                                    <p class="p-about">
                                        Google Workspace, sebelumnya dikenal sebagai G Suite, adalah kumpulan alat komputasi awan, produktivitas dan kolaborasi, perangkat lunak, dan produk yang dikembangkan dan dipasarkan oleh Google.
                                        Sama seperti G Suite, semua paket Google Workspace menyediakan email unik untuk bisnis Anda serta alat kolaborasi seperti Gmail, Kalender, Meet, Chat, Drive, Dokumen, Spreadsheet, Slide, Formulir, Sites, dan banyak lagi.
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>