<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Kuesioner</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>

    <div id="loader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Sebelum memulai assessment silahkan masukkan nama dan nomor PC yang anda gunakan -->
                    <div class="wrapper">
                        <div class="wrapper2">
                            <form action="/result" method="POST">
                                <div class="col" style="text-align: center;">
                                    <label for="title">
                                        <h1>Kuesioner Microsoft 365</h1>
                                    </label>
                                </div>
                                <div class="col">
                                    <label for="name">Nama</label><input id="name" name="name" type="text"
                                        class="form-control" readonly>
                                    <label for="badge">Badge Number</label><input id="badge" name="badge" type="text"
                                        class="form-control" readonly>
                                    <label for="hostname">Hostname PC</label><input id="host" name="hostname"
                                        type="text" class="form-control" readonly>
                                    <label for="type-pc">Tipe PC</label><input name="type-pc" id="type-pc" type="text"
                                        class="form-control" readonly>
                                    <script>
                                        document.getElementById('name').value = "{{name}}";
                                        document.getElementById('badge').value = "{{badge}}";
                                        document.getElementById('host').value = "{{hostname}}";
                                        document.getElementById('type-pc').value = "{{type_pc}}";
                                    </script>
                                </div>
                                <hr class="mb-3">
                                <div class="col">
                                    <label for="komputer">Seberapa sering anda menggunakan aplikasi Microsoft Office di mobile
                                        phone?</label>
                                    <select class="custom-select" name="use_mobile" id="use_mobile" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Jarang">Jarang</option>
                                        <option value="Kadang">Kadang-kadang</option>
                                        <option value="Sering">Sering</option>
                                        <option value="Tidak Pernah">Tidak Pernah</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="komputer">Seberapa sering Anda melakukan <i>sharing</i>/kolaborasi dalam
                                        editing file dengan rekan kerja Anda?</label>
                                    <select class="custom-select" name="sharing_file" id="sharing_file" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Jarang">Jarang</option>
                                        <option value="Kadang">Kadang-kadang</option>
                                        <option value="Sering">Sering</option>
                                        <option value="Tidak Pernah">Tidak Pernah</option>
                                    </select>
                                </div>
                                <hr class="mb-3">
                                <div class="col">
                                    <label for="cloud">Anda sering menyimpan dokumen pribadi pada layanan Cloud, seperti Google Drive atau One Drive? </label>
                                    <select class="custom-select" name="use_cloud" id="use_cloud" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Jarang">Jarang</option>
                                        <option value="Kadang">Kadang-kadang</option>
                                        <option value="Sering">Sering</option>
                                        <option value="Tidak Pernah">Tidak Pernah</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="onlineform">Anda membuat form/survey secara online menggunakan layanan Google Drive atau Microsoft Forms?</label>
                                    <select class="custom-select" name="onlineform" id="onlineform" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Jarang">Jarang</option>
                                        <option value="Kadang">Kadang-kadang</option>
                                        <option value="Sering">Sering</option>
                                        <option value="Tidak Pernah">Tidak Pernah</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="mail">Apakah Anda menggunakan salah satu email personal pada layanan di bawah ini?</label>
                                    <select class="custom-select" name="mail" id="mail" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Gmail">Google Mail</option>
                                        <option value="Outlook">Outlook 365</option>
                                        <option value="Yahoo">Yahoo Mail</option>
                                        <option value="Other">Lainnya</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="cloud_serv">Layanan yang pernah Anda gunakan untuk menyimpan data di Cloud Storage?</label>
                                    <select class="custom-select" name="cloud_serv" id="cloud_serv" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Gdrive">Google Drive</option>
                                        <option value="1Drive">Microsoft One Drive</option>
                                        <option value="DropBox">DropBox</option>
                                        <option value="Other">Lainnya</option>
                                        <option value="Never">Belum Pernah Menggunakan</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="registered">Apakah anda pernah mendaftarkan diri untuk membuat akun Microsoft?</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="ya" name="registered" value="Ya" required> <label
                                            for="ya">Ya</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="tidak" name="registered" value="Tidak"> <label
                                            for="tidak">Tidak</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="komputer">Anda adalah pengguna aplikasi PowerBI?</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="ya" name="use_powerbi" value="Ya" required> <label
                                            for="ya">Ya</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="tidak" name="use_powerbi" value="Tidak"> <label
                                            for="tidak">Tidak</label>
                                    </div>
                                </div>

                                <!-- Pertanyaan baru -->
                                <div class="col">
                                    <label for="macro">Anda banyak menggunakan macro, complex formula dan VBA pada MS.
                                        Excel?</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="ya" name="use_macro" value="Ya" required> <label
                                            for="ya">Ya</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="tidak" name="use_macro" value="Tidak"> <label
                                            for="tidak">Tidak</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="kpc_mail">Anda menggunakan akses email KPC pada mobile phone
                                        pribadi?</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="ya" name="kpc_mail" value="Ya" required> <label
                                            for="ya">Ya</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="tidak" name="kpc_mail" value="Tidak"> <label
                                            for="tidak">Tidak</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="vpn">Anda pengguna layanan VPN KPC?</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="ya" name="vpn_user" value="Ya" required> <label
                                            for="ya">Ya</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="tidak" name="vpn_user" value="Tidak"> <label
                                            for="tidak">Tidak</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="o365">Seberapa jauh pengetahuan/pengalaman Anda mengenai Office 365?</label>
                                    <select class="custom-select" name="paham_o365" id="paham_o365" required>
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Belum">Belum Paham</option>
                                        <option value="Cukup">Cukup Paham</option>
                                        <option value="Paham">Paham</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <button class="btn btn-primary shadow-none" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/js/popper.min.js"></script>
    <script src="static/ajax/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/protect.js"></script>
</body>
</html>