<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kuesioner Cloud Services</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Form Assessment O365">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <div id="loader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="wrapper">
                        <div class="wrapper2">
                            <form action="/assessment" method="POST">
                                <div class="col" style="text-align: center;">
                                    <label for="title">
                                        <h1>Kuesioner Cloud Services</h1>
                                    </label>
                                </div>
                                <div class="col">
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="flashes alert alert-warning" role="alert">{{ message }}</div>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %} {% block body %}{% endblock %}
                                </div>
                                <div class="col">
                                    <label for="logon">Logon Name (masukkan username login ke komputer)</label><input
                                        type="text" class="form-control form-control-lg form-control-borderless"
                                        name="name" placeholder="Logon name" title="Masukkan logon name" maxlength="30"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="badge">Badge Number</label><input type="text"
                                        class="form-control form-control-lg form-control-borderless" name="badge"
                                        placeholder="XXXXXX" title="Isi badge number anda" maxlength="7" required>
                                </div>
                                <div class="col">
                                    <label for="computer">Computer Name (<a href="/tutorial">Cara Mengetahui Computer Name</a>)</label><input type="text"
                                        class="form-control form-control-lg form-control-borderless" name="hostname"
                                        placeholder="****-****-*****" maxlength="15" required>
                                </div>
                                <div class="col">
                                    <label for="ipaddr">IP address: {{ ipa }}</label>
                                </div>
                                <div class="col">
                                    <label>Sebelum melanjutkan ke kuesioner sebaiknya anda membaca dahulu tentang Office 365 dan Google Workspace pada
                                        tautan <a href="/about" target="_blank">berikut</a></label>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-lg shadow-none" type="submit">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if no_logon == True %}
    <script>
        alert("Logon Name tidak ditemukan, harap periksa kembali");
    </script>
    {% endif %}

    <script src="static/js/popper.min.js"></script>
    <script src="static/ajax/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/protect.js"></script>

</body>

</html>