<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mengetahui Computer Name</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/popper.min.js"></script>
    <script src="/static/ajax/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrapper">
                        <div class="wrapper2">
                            <form action="#" method="POST">
                                <div class="col-md-12" style="text-align: center;">
                                    <label for="title"><h2>Cara Mengetahui Computer Name</h2></label>
                                </div>
                                <div class="col-md-12" >
                                    <h4>Cara pertama</h4>
                                    <ol>
                                        <li>Klik KPC Folder > Computer Name yang terletak pada bagian kanan bawah layar desktop. Seperti terlihat pada gambar</li>
                                        <img src="/static/1.png" alt="computer name" class="mb-2">
                                        <li>Kemudian akan terbuka command prompt. Scroll pada bagian paling atas. Di baris hostname terdapat computer name-nya yang akan digunakan untuk input pada form</li>
                                        <img src="/static/2.png" alt="command prompt">
                                    </ol>
                                    <hr>
                                    <h4>Cara kedua</h4>
                                    <ol>
                                        <li>Buka command prompt atau cmd dengan cara klik start di pojok kiri bawah desktop, lalu ketikkan cmd dan kemudian klik command prompt</li>
                                        <li>Lalu ketikkan "hostname" (tanpa tanda kutip) di command prompt</li>
                                        <img src="/static/3.png" alt="command prompt">
                                    </ol>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>